package ${package};

/**
 * <p>
 *
 * $!{comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public enum ${className}  {
    #foreach($thisEnum in ${enums})
        ${thisEnum.enumFildName}("${thisEnum.enumValue}","${thisEnum.desc}"),
    #end
    ;

    private String value;
    private String desc;

    ${className}(String value, String desc) {
        this.value = value;
        this.desc = desc;
    }

    public String getValue() {
         return value;
    }

    public String getDesc() {
         return desc;
    }
}
